name: WakaTime Readme

on:
  schedule:
    - cron: "0 0 * * *"   # todo dia
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: anmol098/waka-readme-stats@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SHOW_TOTAL: true
          SHOW_TIME: true
          TIME_RANGE: last_7_days
          LANG_COUNT: 6
